.main-navbar{
  background-color: #d5d5da;
}
.homelogo{
  padding-right: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black
}
.nav-item{
  margin:0 1em ;
  font-size: 1.2rem;
}
.nav-links{
  text-decoration: none;
  color: black
}

h1{
  text-align: center;
  padding: 10px;
}

footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #5c5c60;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-item-set{
  display: flex;
  justify-content: flex-end;
}
.container{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
