.main-navbar{
  display: flex;
  padding: 1em;
  background-color: #d5d5da
}
.brandlogo{
  font-size: 1.5rem;
  text-decoration: none;
  color: black
}
.navitem{
  margin:0 1em ;
  font-size: 1.2rem;
}
.nav-links{
  text-decoration: none;
  color: black
}

h1{
  text-align: center;
  padding: 10px;
}
