*{
  /* border: 1px solid red; */
}
body{
  /* margin: 0 0 150px; */
}
/* Navbar */
.main-navbar{
  background-color: rgb(59, 59, 59);
}
.selected{
  background-color: rgb(25, 125, 255);
}
.homelogo{
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.nav-item{
  margin:0 1em ;
  font-size: 1.2rem;
}
.nav-links{
  text-decoration: none;
  color: white;
}
.nav-item-set{
  justify-content: space-evenly;
}
/* Placeholder */
h1{
  text-align: center;
  padding: 10px;
}
/* Footer */
footer{
  background-color: #5c5c60;
  width: 100%;
  position: relative;
  bottom: 0;
  
}
.foot-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.schoolhouse-info{
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}
h5{
  text-decoration: underline;
  text-align: center;
}
.cardbox{
  margin: 10px;
  align-items: center;
  
}
.cardbox img{
  width: 100%;
  height: auto;
  object-fit: contain
}
.cardgrid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1.5rem;
  justify-content: space-evenly;
}
.basicgrid{
  display: flex;
  min-height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1.5rem;
  justify-content: space-around;
}
.home{
  padding-bottom: 2.5rem;
  
}
.container{
  position: relative;
  min-height: 100vh;
  margin: 5rem;
}
.App{
  position: relative;
  min-height: 100vh;
}
.content{
  /* margin: auto; */
  /* margin-bottom: 5rem; */
}
.tangologo{
  height: 150px;
  width: 150px;
}
.micrestlogo{
  height: 135px;
  width: 135px;
}
.welcomecontainer{
  display: flex;
}
.pond{
  align-items: center;
  margin: auto;
}
.welheader{
  align-items: center;
  background-color: #d5d5dad3;
  padding: 15px;
}
.welpond{
  align-items: center;
  height: auto;
  margin: auto;
  background-image: url("/public/images/SplashArtLogo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 0;
  background-color: rgba(116, 234, 255, 0.692);
}
.welbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.basicrow,
  .networkrow{
  justify-content: center;
  align-items: center;
}
.carouselbanner{
  display: flex;
  justify-content: center;
  
}
.carouselcontainer{
  display: flex;
  justify-content: center;
}

.mycarousel{
  width: 300px;
  height: 600px;
  margin: 0 auto;
}
.carousel-item{
  height: 550px;
  width: 300px;
}
.charliecontainer{
  display: flex;
  /* margin: 0 0 8rem; */
  justify-content: space-evenly;
  background-color: #d5d5da;
  padding: 50px;
}
.charliebox h3{
  display: flex;
  justify-content: center;
}
.charliebox p{
  text-align: center;
}